# Mac OS X files
.DS_Store

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# ide
.idea/
*.iml
.gitpod.yml

# KCLVM cache
__pycache__
__kclcache__
.kclvm

# workspace configuration for local testing
workspace/

# kusion state from local testing
kusion_state.yaml

# local bin files
modules/bin/

# kcl mod lock files
kcl.mod.lock